@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Damion&family=East+Sea+Dokdo&display=swap");


body {
  font-size: 2rem;
}
input[type="submit"],
button {
  font-size: 2rem;
}

header,
section,
.cart-modal {
  min-height: 100vh;
  width: 100%;
}

header {
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.65rem;
}
@media only screen and (min-width: 385px) {
  h1 {
    font-size: 3.55rem;
    padding-bottom: 2rem;
  }
  h2 {
    font-size: 3.25rem;
  }
}
.header-div {
  background-color: rgba(245, 245, 245, 0.671);
  border: 4px solid #40750a;
  box-sizing: border-box;
}
nav {
  max-width: 100vw;
}

.fa-shopping-cart{
  font-size: 1.75rem;
}
.main-nav,
.menu-nav {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.intro {
  padding-top: 3rem;
  height: 40vh;
  width: 80vw;
  margin: 5vh auto 0 auto;
}

.location,
.phone {
  text-align: center;
  padding: 1rem;
  color: #12130f;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 2vh;
}
.loc-phone {
  margin: 5vh auto;
  width: 80vw;
}

#menu,
#about,
#contact,
#catering,
.cart-modal {
  display: none;
  background-image: url("../images/chalkbackground.jpg");
  background-color: #534d56;
  background-size: contain;
}

.menu-insert {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
input[type="radio"],
form input[type="checkbox"] {
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
textarea{
  resize: none;
}

.menu-item {
  width: 82vw;
  padding: 1rem;
  margin: 1rem auto;
}

.order-form {
  flex-wrap: wrap;
}
.menu-insert input[type="submit"] {
  width: 60vw;
  margin: auto;
}

.size-div {
  padding-bottom: 1rem;
}
.topping-div div {
  padding-bottom: 0.75rem;
}

.cart-modal {
  position: absolute;
  top: 0;
  padding-top: 2rem;
}
.checkout-div {
  margin: auto;
  border: 0.25rem solid #f8faf0;
  padding: 1.5rem;
  width: 80%;
}
.checkout-div #close {
  float: right;
  padding-bottom: 1rem;
}
.checkout-div p {
  width: 60%;
  padding-bottom: 1rem;
}
.checkout-div h3 {
  padding-bottom: 1rem;
}
input[type="submit"] {
  margin: 0.5rem;
}

#back,
#checkout {
  width: 90%;
  margin: 0.5rem;
}

caption,
legend {
  font-size: 4rem;
  margin-bottom: 2rem;
}
tr {
  text-align: left;
}
th {
  height: 75px;
  padding-left: 10px;
}
td {
  height: 50px;
}
td button {
  max-height: 2.5rem;
}

.cart-btn {
  margin: 0.5rem;
}
#customTip {
  height: 3rem;
  width: 4rem;
}
.customTipSubmit {
  margin: auto;
}
.customTipDiv {
  display: flex;
  align-items: center;
}

.tip-div {
  font-size: 1.5rem;
  margin-bottom: 0 1rem 0;
  width: 80%;
}
@media only screen and (min-width: 385px) {
  .tip-div {
    font-size: 1.85rem;
  }
}

#tippedAmount {
  padding: 1.5rem;
}

fieldset label {
  display: block;
}
fieldset input {
  padding-bottom: 0.5rem;
}

.email-list {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

/* about wrapper */
.wrapper{
  width: 80vw;
  margin: auto;
}
.wrapper p{
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
figure{
  width: 80%;
  margin: 0 auto 1rem;
  display: block;
  float: none;
}
img[alt="the pizza family"]{
  margin-bottom: .25rem;
  width: 100%;
}
figcaption{
  font-size: 1.25rem;
  font-style: italic;
  padding-bottom: .25rem;
  text-align: right;
}
/*  for ipad */
@media only screen and (min-width: 780px) {
  h1 {
    font-size: 8.5rem;
  }
  h2 {
    font-size: 7.5rem;
  }
  h3 {
    font-size: 5rem;
  }
  h4 {
    font-size: 4rem;
  }
  p,
  td,
  th,
  label {
    font-size: 3rem;
  }
  input[type="submit"],
  button {
    font-size: 4rem;
  }
  .main-nav,
  .menu-nav {
    font-size: 4rem;
  }
  .intro {
    margin: 8vh auto 0 auto;
  }
  .topping-div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }
  .topping-div div {
    margin: 0.75rem;
  }
  input[type="radio"],
  form input[type="checkbox"] {
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .pizzaQuantity {
    height: 3rem;
    font-size: 1.5rem;
    width: 80%;
  }
  .pizzaSpecialDirections {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 80%;
    height: 150px;
  }
  .addToCart,
  input[type="submit"] {
    display: block;
    margin: 1rem auto;
  }
  .checkout-div {
    width: 80%;
  }
  caption,
  legend {
    font-size: 6rem;
  }
  table {
    width: 85%;
  }
  td button {
    max-height: 5rem;
  }
  .cart-btn {
    margin: 0.5rem;
    width: 45%;
  }
  .noTip,
  .tip10,
  .tip15,
  .tip20,
  .customTipSubmit {
    font-size: 3.5rem;
    margin-bottom: 0 1rem 0;
  }
  #customTip {
    height: 5rem;
    width: 8rem;
  }
  .customTipSubmit {
    margin: auto;
  }
  .customTipDiv {
    display: block;
  }
  #fName,
  #lName,
  #email {
    font-size: 3rem;
    height: 3rem;
  }
  .wrapper{
    width: 75vw;
  }
  .wrapper p{
    width: 100%;
    font-size: 2.25rem;
    line-height: 2.5rem;
   
  }
  figure{
    width: 40%;
    float:left;
    padding-right: 1rem;
  }
  /* img[alt="the pizza family"]{
    margin-bottom: .25rem;
    width: 100%;
  } */
}


/* larger screens */
@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 5.5rem;
  }
  h3 {
    font-size: 4rem;
  }
  p,
  td,
  th,
  label {
    font-size: 1.85rem;
  }
  .intro,
  .loc-phone {
    width: 60vw;
  }
  .loc-phone {
    display: flex;
    justify-content: space-between;
  }
  .location,
  .phone {
    width: 20vw;
  }
  #menu,
  #about,
  #contact,
  #catering,
  .cart-modal {
    background-size: 100vw;
    background-repeat: repeat-y;
  }
  .section-head {
    text-align: center;
    font-size: 6rem;
  }

  .menu-item {
    width: 40vw;
  }

  input[type="radio"],
  form input[type="checkbox"] {
    margin: 0.5rem;
    width: 1.7rem;
    height: 1.7rem;
  }
  .checkout-div {
    width: 60vw;
  }
  .checkout-div p {
    font-size: 2.5rem;
  }
  th,
  td {
    font-size: 2.5rem;
  }
  .removeButton {
    margin-bottom: 1.5rem;
  }

  .tip-div {
    width: 60vw;
    border: 2px solid #f8faf0;
    margin: auto;
  }
  .tipHeader {
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .custTipDiv,
  .tipBtnDiv {
    display: flex;
    justify-content: space-around;
  }
  #customTip {
    width: 20%;
    font-size: 2.5rem;
    margin: 1rem auto;
  }
  .tip-div p {
    font-size: 2.5rem;
    text-align: center;
  }
  .next{
    display: block;
    margin: 1rem auto;
  }
  #fName, #lName, #email {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 60%;
}

.wrapper{
  width: 60vw;
  padding:2rem;
}
.wrapper p{
  width: 100%;
  font-size: 2.25rem;
  line-height: 2.5rem;
 
}
figure{
  width: 50%;
  float:left;
  padding-right: 1rem;
}
}
